@model IEnumerable<MacroTrackr.Models.UserPreference>

@{
    ViewBag.Title = "Index";
}

<h2>Macro Nutrient Preferences</h2>

<p>
    <button> @Html.ActionLink("Add Macro Nutrient Goals", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Macro.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maximum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Macro.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Maximum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserPreferenceID }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.UserPreferenceID })
        </td>
    </tr>


    
}

</table>
