@model MacroTrackr.Models.UserPrefFoodItemViewModel

@{
    ViewBag.Title = "Dailyview";
}

<h2>Dailyview</h2>

<p>
    <button> @Html.ActionLink("Add Food Item", "Create")</button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().TimeOfMeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().WhenEaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Carbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Fat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.foodItem.OrderBy(f => f.TimeOfMeal))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenEaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FoodItemID }) |
                @Html.ActionLink("Duplicate", "Details", new { id = item.FoodItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FoodItemID })
            </td>
        </tr>
    }
    </table>


<table class="table">
<tr>
    <th id="Blank">
        @Html.DisplayNameFor(model => model.foodItem.First().Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Carbs)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Protein)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Fat)
    </th>
    
</tr>
 
        <tr>
            <td>Totals</td>
            <td>@Model.foodItem.Sum(p => p.Carbs)</td>
            <td>@Model.foodItem.Sum(p => p.Protein)</td>
            <td>@Model.foodItem.Sum(p => p.Fat)</td>
        </tr>
    
        <tr>
            <td>Goals</td>
            <td>@if (Model.userPreference.Any(m => m.Macro.Name == "Carbohydrates"))
            {
                @Model.userPreference.Where(m => m.Macro.Name == "Carbohydrates").FirstOrDefault().Maximum
            }
            </td>
            <td>@if (Model.userPreference.Any(m => m.Macro.Name == "Protein"))
            {
                @Model.userPreference.Where(m => m.Macro.Name == "Protein").FirstOrDefault().Maximum
            }
            </td>
            <td>@if(Model.userPreference.Any(m => m.Macro.Name == "Fat"))
            {
                @Model.userPreference.Where(m => m.Macro.Name == "Fat").FirstOrDefault().Maximum
            }
            </td>
        </tr>

        <tr>
            <td>Remaining</td>
            <td>@if (Model.userPreference.Any(m => m.Macro.Name == "Carbohydrates"))
            {
                @(Model.userPreference.Where(m => m.Macro.Name == "Carbohydrates").FirstOrDefault().Maximum - Model.foodItem.Sum(p => p.Carbs))
            }
            </td>
            <td>@if (Model.userPreference.Any(m => m.Macro.Name == "Protein"))
            {
                @(Model.userPreference.Where(m => m.Macro.Name == "Protein").FirstOrDefault().Maximum - Model.foodItem.Sum(p => p.Protein))
            }
            </td>
            <td>
                @if (Model.userPreference.Any(m => m.Macro.Name == "Fat"))
            {
                @(Model.userPreference.Where(m => m.Macro.Name == "Fat").FirstOrDefault().Maximum - Model.foodItem.Sum(p => p.Fat))
            }
            </td>
        </tr>

</table>

