@model MacroTrackr.Models.UserPrefFoodItemViewModel

@{
    ViewBag.Title = "Dailyview";
}

<h2>Dailyview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().TimeOfMeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().WhenEaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Carbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodItem.First().Fat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.foodItem)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenEaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FoodItemID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FoodItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FoodItemID })
            </td>
        </tr>
    }
    </table>


<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Carbs)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Protein)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.foodItem.First().Fat)
    </th>
    <th></th>
</tr>
    @foreach (var item in Model.foodItem)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
        </tr>
    }
        <tr>
            <td>Totals</td>
            <td>@Model.foodItem.Sum(p => p.Carbs)</td>
            <td>@Model.foodItem.Sum(p => p.Protein)</td>
            <td>@Model.foodItem.Sum(p => p.Fat)</td>
        </tr>
    
        <tr>
            <td>Goals</td>
            <td>@Model.userPreference.Where(m => m.Macro.Name == "Carbohydrates").FirstOrDefault().Maximum</td>
            <td>@Model.userPreference.Where(m => m.Macro.Name == "Protein").FirstOrDefault().Maximum</td>
            <td>@Model.userPreference.Where(m => m.Macro.Name == "Fat").FirstOrDefault().Maximum</td>
        </tr>

        <tr>
            <td>Current</td>
            <td>@(Model.foodItem.Sum(p => p.Carbs) - Model.userPreference.Where(m => m.Macro.Name == "Carbohydrates").FirstOrDefault().Maximum)</td>
            <td>@(Model.foodItem.Sum(p => p.Protein) - Model.userPreference.Where(m => m.Macro.Name == "Protein").FirstOrDefault().Maximum)</td>
            <td>@(Model.foodItem.Sum(p => p.Fat) - Model.userPreference.Where(m => m.Macro.Name == "Fat").FirstOrDefault().Maximum)</td>
             
        </tr>

</table>

