@model MacroTrackr.Models.FoodItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfMeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfMeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhenEaten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhenEaten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>
        @using (Html.BeginForm("Duplicate", "FoodItems"))
        {
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Carbs)
            @Html.HiddenFor(model => model.Protein)
            @Html.HiddenFor(model => model.Fat)

            @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfMeal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TimeOfMeal, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TimeOfMeal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WhenEaten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WhenEaten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WhenEaten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
   

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
